
.btn {
    border-radius: 3px;
    outline: none !important;
    
  }
  .btn-md {
    padding: 8px 16px;
  }
  .btn-primary,
  .btn-success,
  .btn-default,
  .btn-info,
  .btn-warning,
  .btn-danger,
  .btn-inverse,
  .btn-purple,
  .btn-pink {
    color: #ffffff !important;
  }
  .btn-default,
  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active,
  .btn-default.active,
  .btn-default.focus,
  .btn-default:active,
  .btn-default:focus,
  .btn-default:hover,
  .open > .dropdown-toggle.btn-default {
    background-color: #f9f9f9 !important;
    border: 1px solid #bbbcbe !important;
    color: #4c5667 !important;
  }
  .btn-white,
  .btn-white:hover,
  .btn-white:focus,
  .btn-white:active,
  .btn-white.active,
  .btn-white.focus,
  .btn-white:active,
  .btn-white:focus,
  .btn-white:hover,
  .open > .dropdown-toggle.btn-white {
    border: 1px solid #eaeaea !important;
    background-color: #ffffff;
    color: #4c5667;
  }


  .btn-green,
  .btn-green:hover,
  .btn-green:focus,
  .btn-green:active,
  .btn-green.active,
  .btn-green.focus,
  .btn-green:active,
  .btn-green:focus,
  .btn-green:hover,
  .bg-green,
  .open > .dropdown-toggle.btn-green {
    background-color: #5fbeaa !important;
    border: 1px solid #5fbeaa !important;
    color: #fff !important;
  }

 

  .btn-white:hover,
  .btn-white:hover:hover,
  .btn-white:focus:hover,
  .btn-white:active:hover,
  .btn-white.active:hover,
  .btn-white.focus:hover,
  .btn-white:active:hover,
  .btn-white:focus:hover,
  .btn-white:hover:hover,
  .open > .dropdown-toggle.btn-white:hover {
    background-color: #f9f9f9;
  }
  .btn-white:focus,
  .btn-white:hover:focus,
  .btn-white:focus:focus,
  .btn-white:active:focus,
  .btn-white.active:focus,
  .btn-white.focus:focus,
  .btn-white:active:focus,
  .btn-white:focus:focus,
  .btn-white:hover:focus,
  .open > .dropdown-toggle.btn-white:focus {
    background-color: #f9f9f9;
  }
  .btn-white:active,
  .btn-white:hover:active,
  .btn-white:focus:active,
  .btn-white:active:active,
  .btn-white.active:active,
  .btn-white.focus:active,
  .btn-white:active:active,
  .btn-white:focus:active,
  .btn-white:hover:active,
  .open > .dropdown-toggle.btn-white:active {
    background-color: #f9f9f9;
  }
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary.focus,
  .btn-primary:active,
  .btn-primary:focus,
  .btn-primary:hover,
  .open > .dropdown-toggle.btn-primary {
    background-color: #5d9cec !important;
    border: 1px solid #5d9cec !important;
  }
 
 
  .btn-warning,
  .btn-warning:hover,
  .btn-warning:focus,
  .btn-warning:active,
  .btn-warning.active,
  .btn-warning.focus,
  .btn-warning:active,
  .btn-warning:focus,
  .btn-warning:hover,
  .open > .dropdown-toggle.btn-warning {
    background-color: #ffbd4a !important;
    border: 1px solid #ffbd4a !important;
  }
  .btn-danger,
  .btn-danger:active,
  .btn-danger:focus,
  .btn-danger:hover,
  .btn-danger.active,
  .btn-danger.focus,
  .btn-danger:active,
  .btn-danger:focus,
  .btn-danger:hover,
  .open > .dropdown-toggle.btn-danger {
    background-color: #f05050 !important;
    border: 1px solid #f05050 !important;
  }
  .btn-inverse,
  .btn-inverse:hover,
  .btn-inverse:focus,
  .btn-inverse:active,
  .btn-inverse.active,
  .btn-inverse.focus,
  .btn-inverse:active,
  .btn-inverse:focus,
  .btn-inverse:hover,
  .open > .dropdown-toggle.btn-inverse {
    background-color: #4c5667 !important;
    border: 1px solid #4c5667 !important;
    color: #ffffff;
  }
  .btn-purple,
  .btn-purple:hover,
  .btn-purple:focus,
  .btn-purple:active {
    background-color: #7266ba !important;
    border: 1px solid #7266ba !important;
    color: #ffffff;
  }
  .btn-pink,
  .btn-pink:hover,
  .btn-pink:focus,
  .btn-pink:active {
    background-color: #fb6d9d !important;
    border: 1px solid #fb6d9d !important;
    color: #ffffff;
  }
  .open > .dropdown-toggle.btn-primary.btn-custom,
  .open > .dropdown-toggle.btn-success.btn-custom,
  .open > .dropdown-toggle.btn-info.btn-custom,
  .open > .dropdown-toggle.btn-warning.btn-custom,
  .open > .dropdown-toggle.btn-danger.btn-custom,
  .open > .dropdown-toggle.btn-default.btn-custom {
    border-width: 2px !important;
    color: #ffffff !important;
  }
  .open > .dropdown-toggle.btn-white.btn-custom {
    border-width: 2px !important;
  }
  .btn-custom.btn-default {
    color: #5fbeaa !important;
  }
  .btn-custom.btn-primary {
    color: #5d9cec !important;
  }
  .btn-custom.btn-success {
    color: #81c868 !important;
  }
  .btn-custom.btn-info {
    color: #34d3eb !important;
  }
  .btn-custom.btn-warning {
    color: #ffbd4a !important;
  }
  .btn-custom.btn-danger {
    color: #f05050 !important;
  }
  .btn-custom.btn-inverse {
    color: #4c5667 !important;
  }
  .btn-custom.btn-purple {
    color: #7266ba !important;
  }
  .btn-custom.btn-white {
    color: #4c5667 !important;
  }
  .btn-custom.btn-white:hover,
  .btn-custom.btn-white:focus,
  .btn-custom.btn-white:active {
    color: #4c5667 !important;
    background-color: #f4f8fb !important;
  }
  .btn-custom.btn-pink {
    color: #fb6d9d !important;
  }
  .btn-rounded {
    border-radius: 2em !important;
    padding: 6px 20px;
  }
  .btn-rounded .btn-label {
    padding: 7px 15px 7px 20px;
    margin-left: -20px;
  }
  .btn-rounded .btn-label-right {
    margin-right: -20px;
    margin-left: 12px;
  }
  .btn-custom {
    -moz-border-radius: 2px;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -webkit-border-radius: 2px;
    -webkit-transition: all 400ms ease-in-out;
    background: transparent;
    background-color: transparent !important;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    border-width: 2px !important;
    font-weight: 600;
    transition: all 400ms ease-in-out;
    background-clip: inherit;
  }
  .btn-custom:hover {
    color: #ffffff !important;
    border-width: 2px !important;
  }
  .btn-custom:focus {
    color: #ffffff !important;
    border-width: 2px !important;
  }
  .btn-label {
    background: rgba(0, 0, 0, 0.05);
    display: inline-block;
    padding: 7px 15px;
    border-radius: 3px 0 0 3px;
    margin: -7px -13px;
    margin-right: 12px;
  }
  .btn-label-right {
    margin-left: 12px;
    margin-right: -13px;
    border-radius: 0px 3px 3px 0px;
  }
  .btn-group.open .dropdown-toggle {
    box-shadow: none;
  }
  /* File Upload */
  .fileupload {
    overflow: hidden;
    position: relative;
  }
  .fileupload input.upload {
    cursor: pointer;
    filter: alpha(opacity=0);
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }


 